In [69]:
from collections.abc import Callable
from tabulate import tabulate
import sqlite3 as sql
import traceback
import hashlib
import random
import string
import csv

## Two Cirlces Case Study - SQLite3 Views

#### Helper Functions

In [70]:
def print_schemas(path: str) -> None:
    '''
    Prints a detailed view of all schemas 
    within the database provided by path. 
    This includes types as well as all tags.
    '''
    conn = sql.connect(path)
    cur = conn.cursor()

    cur.execute('''
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type = 'table'
    ''')
    tables = cur.fetchall()

    if not tables:
        print("No tables found in database.")
        return
    
    for t in tables:
        name = t[0]
        print(f"\nTable: {name}\n")

        # Get column details
        cur.execute(f"PRAGMA table_info({name})")
        cols = cur.fetchall()

        # Format output with headers
        headers = ["Column Name", "Data Type", "Nullable", "Primary Key", "Default"]
        rows = [
            [col[1], col[2], "NO" if col[3] else "YES", "YES" if col[5] else "NO", col[4]]
            for col in cols
        ]
        
        print(tabulate(rows, headers = headers, tablefmt = "grid"))
        print("\n" + "-" * 50 + "\n")
    
    conn.close()

In [71]:
def print_sample(cursor: Callable, table_name: str, n_rows: int = 5) -> None:
    ''' Prints out sample rows from a table in a tabulated form'''
    cursor.execute(f"""
        SELECT * 
        FROM {table_name} 
        ORDER BY RANDOM() 
        LIMIT {n_rows}
    """)

    rows = cursor.fetchall()
    columns = [desc[0] for desc in cursor.description]

    print(f"\nRandom {n_rows} rows from '{table_name}':")
    print(tabulate(rows, headers = columns, tablefmt = 'psql'))

In [72]:
def gen_hash(*args) -> str:
    '''
    Using the given seed argumements generates
    a truncated hash
    '''
    try:
        seed = ''.join(
            str(s) if s is not None else '.'
            for s in args
            ).encode('utf-8')
        return hashlib.sha256(seed).hexdigest()[:56]
    except Exception as e:
        print(f"Error in hash_columns: {e}")
        traceback.print_exc()

In [73]:
def standardize_name(name: str) -> str:
    '''Removes partner name variations'''
    match name:
        case 'Chevy':
            return 'chevrolet'
        case 'Draftkings' | 'Draft kings' | 'Draft Kings':
            return 'draft_kings'
        case 'Citizens Financial' | 'Citizens Bank' | 'Citizens':
            return 'citizens_bank'
        case 'Coke' | 'Diet Coke' | 'Coke Zero' | 'Coca Cola' | 'Coca-cola':
            return 'coca_cola'
        case 'Toyota Motors':
            return 'toyota'
        case 'Verizon Wireless':
            return 'verizon'
        case 'Chase Freedom' | 'JP Morgan':
            return 'chase'
        case 'Motorola Mobility':
            return 'motorola'
        case 'Miller' | 'Miller Lite':
            return 'miller_lite'
        case 'United Air Lines' | 'United Airlines':
            return 'united_airlines'
        case 'Vizzy Seltzer':
            return 'vizzy'
        case 'Detla Air Lines' | 'Delta Airlines' | 'Delta':
            return 'delta_airlines'
        case 'Fan Duel':
            return 'fan_duel'
        case _:
            return name.lower()

In [74]:
def standardize_assets(asset: str) -> str:
    '''Removes asset naming variations'''
    match asset:
        case 'Player Tunnel':
            return 'player_tunnel'
        case 'Pole Pad' | 'Pole':
            return 'pole_pad'
        case 'Basket Stanchion' | 'Stanchion':
            return 'basket_stanchion'
        case 'On-Court' | 'On Court Signage':
            return 'on_court_signage'
        case 'LED' | 'LED Courtside':
            return 'led_courtside'
        case 'Seatbacks' | 'Player Seatbacks':
            return 'player_seatbacks'
        case 'Upper Bowl LED':
            return 'upper_bowl_led'
        case 'Lower Bowl LED':
            return 'lower_bowl_led'
        case 'Exit Tunnel':
            return 'exit_tunnel'
        case 'Virtual Branding':
            return 'virtual_branding'
        case 'Penalty Box':
            return 'penalty_box'
        case 'Text Mention':
            return 'text_mention'
        case _:
            return asset if type(asset) != str else asset.lower()

In [75]:
def standardize_camp(c: str) -> str:
    '''Removes varation and formats campaign naming'''
    match c:
        case 'Top Play':
            return 'top_play'
        case 'Goal Update':
            return 'goal_update'
        case 'Community Night':
            return 'community_night'
        case 'Player Arrival':
            return 'player_arrival'
        case 'Starting Line Up' | 'Starting Lineup':
            return 'starting_line_up'
        case 'Tune In':
            return 'tune_in'
        case 'In-Game Highlight':
            return 'game_highlight'
        case _:
            return c.lower() if type(c) == str else c

In [76]:
def snake_case(s: str) -> str:
    if (not s) or (type(s) != str): return s
    s = str(s).lower().strip()
    return '_'.join(s.split(' '))

In [77]:
def gen_id() -> str:
    characters = string.digits + string.ascii_lowercase
    uuid = ''.join(random.choice(characters) for _ in range(56))
    return gen_hash(uuid)

#### Data Insertion

In [78]:
# Create a database named two_circles
conn = sql.connect('two_cirlces.db')

# Cursor used to execute commands
cur = conn.cursor()

In [79]:
# Drop table if social_dataset already exists
cur.execute('DROP TABLE IF EXISTS social_dataset;')

# Create empty social_dataset
cur.execute('''
    CREATE TABLE IF NOT EXISTS social_dataset (
        exposure_id           TEXT            NOT NULL ON CONFLICT IGNORE,
        partner               TEXT            NOT NULL ON CONFLICT IGNORE,
        channel               TEXT            NOT NULL ON CONFLICT IGNORE,
        post_id               TEXT            NOT NULL ON CONFLICT IGNORE,
        partner_exposure_date TEXT            NOT NULL ON CONFLICT IGNORE,
        content_type          TEXT            NOT NULL ON CONFLICT IGNORE,
        impressions           INTEGER,
        projected_impressions INTEGER,
        video_views           INTEGER,
        brand_exposure_value  NUMERIC (10, 8) NOT NULL ON CONFLICT IGNORE,
        logo_impressions      INTEGER,
        engagement            INTEGER,
        asset                 TEXT,
        post_value            NUMERIC (10, 8) NOT NULL ON CONFLICT IGNORE,
        feed_name             TEXT            NOT NULL ON CONFLICT IGNORE,
        campaign              TEXT,
        snapshot_date         TEXT            NOT NULL ON CONFLICT IGNORE
    );
''')

# Open social_dataset.csv and read data
with open('Data/social_data_set.csv', 'r') as file:
    csv_reader = csv.reader(file)

    # Skip header
    next(csv_reader)

    # Insert data into the table
    # The .join is used to repeat NULLIF(?, 'NULL') for all 17 columns
    cur.executemany(f'''
        INSERT INTO social_dataset (
            exposure_id, 
            partner,
            channel,
            post_id,
            partner_exposure_date,
            content_type,
            impressions,
            projected_impressions,
            video_views,
            brand_exposure_value,
            logo_impressions,
            engagement,
            asset,
            post_value,
            feed_name,
            campaign,
            snapshot_date
        )
        VALUES ({", ".join(["NULLIF(?, 'NULL')"] * 17)})
        ''',
        csv_reader
    )

conn.commit()

In [80]:
# Drop table if broadcast_dataset already exists
cur.execute('DROP TABLE IF EXISTS broadcast_dataset;')

# Create empty broadcast_dataset
cur.execute('''
    CREATE TABLE IF NOT EXISTS broadcast_dataset (
        season                     TEXT            NOT NULL ON CONFLICT IGNORE,
        date                       TEXT            NOT NULL ON CONFLICT IGNORE,
        game                       TEXT            NOT NULL ON CONFLICT IGNORE,
        brand                      TEXT            NOT NULL ON CONFLICT IGNORE,
        asset                      TEXT,
        exposure                   INTEGER,
        duration                   INTEGER,
        qimv                       INTEGER,
        exposure_impressions       INTEGER,
        sponsorship_impressions    INTEGER,
        qi_sponsorship_impressions INTEGER
    );
''')

# Open social_dataset.csv and read data
with open('Data/broadcast_data_set.csv', 'r') as file:
    csv_reader = csv.reader(file)

    # Skip header
    next(csv_reader)

    # Insert data into the table
    # The .join is used to repeat NULLIF(?, 'NULL') for all 17 columns
    cur.executemany(f'''
        INSERT INTO broadcast_dataset (
            season, 
            date,
            game,
            brand,
            asset,
            exposure,
            duration,
            qimv,
            exposure_impressions,
            sponsorship_impressions,
            qi_sponsorship_impressions
        )
        VALUES ({", ".join(["NULLIF(?, 'NULL')"] * 11)})
        ''',
        csv_reader
    )

conn.commit()

In [97]:
# Verify schemas with pre-defined helper function
print_schemas('two_cirlces.db')

Table: social_dataset

+-----------------------+-----------------+------------+---------------+-----------+
| Column Name           | Data Type       | Nullable   | Primary Key   | Default   |
+=======================+=================+============+===============+===========+
| exposure_id           | TEXT            | NO         | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| partner               | TEXT            | NO         | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| channel               | TEXT            | NO         | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| post_id               | TEXT            | NO         | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| partner_exposure_date | TEXT            | NO         | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| content_type          | TEXT            | NO         | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| impressions           | INTEGER         | YES        | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| projected_impressions | INTEGER         | YES        | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| video_views           | INTEGER         | YES        | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| brand_exposure_value  | NUMERIC (10, 8) | NO         | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| logo_impressions      | INTEGER         | YES        | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| engagement            | INTEGER         | YES        | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| asset                 | TEXT            | YES        | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| post_value            | NUMERIC (10, 8) | NO         | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| feed_name             | TEXT            | NO         | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| campaign              | TEXT            | YES        | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+
| snapshot_date         | TEXT            | NO         | NO            |           |
+-----------------------+-----------------+------------+---------------+-----------+

--------------------------------------------------


Table: broadcast_dataset

+----------------------------+-------------+------------+---------------+-----------+
| Column Name                | Data Type   | Nullable   | Primary Key   | Default   |
+============================+=============+============+===============+===========+
| game                       | TEXT        | NO         | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| partner                    | TEXT        | NO         | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| asset                      | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| exposure                   | INTEGER     | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| duration                   | INTEGER     | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| qimv                       | INTEGER     | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| impressions                | INTEGER     | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| video_views                | INTEGER     | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| qi_sponsorship_impressions | INTEGER     | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| partner_exposure_date      | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| snapshot_date              | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| exposure_id                | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| post_id                    | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| channel                    | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| content_type               | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| feed_name                  | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+

--------------------------------------------------


Table: merged_table

+----------------------------+-------------+------------+---------------+-----------+
| Column Name                | Data Type   | Nullable   | Primary Key   | Default   |
+============================+=============+============+===============+===========+
| exposure_id                | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| partner                    | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| channel                    | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| post_id                    | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| partner_exposure_date      | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| content_type               | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| impressions                | INT         | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| projected_impressions      | INT         | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| video_views                | INT         | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| brand_exposure_value       | NUM         | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| logo_impressions           | INT         | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| engagement                 | INT         | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| asset                      | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| post_value                 | NUM         | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| feed_name                  | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| campaign                   | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| snapshot_date              | TEXT        | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| game                       |             | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| exposure                   |             | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| duration                   |             | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| qimv                       |             | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+
| qi_sponsorship_impressions |             | YES        | NO            |           |
+----------------------------+-------------+------------+---------------+-----------+

--------------------------------------------------

In [98]:
# Verify rows were inserted by sampling some random ones
query = '''
    SELECT
        * 
    FROM 
        social_dataset 
    WHERE
        rowid IN (
            SELECT
                rowid
            FROM
                social_dataset
            ORDER BY
                RANDOM()
            LIMIT
                3
        )
'''

print_sample(cur, 'social_dataset', 3)
print_sample(cur, 'broadcast_dataset', 3)

Random 3 rows from 'social_dataset':
+----------------------------------------------------------+-----------+-----------+----------------------------------------------------------+-------------------------+----------------+---------------+-------------------------+---------------+------------------------+--------------------+--------------+------------------+--------------+-------------+------------+---------------------+
| exposure_id                                              | partner   | channel   | post_id                                                  | partner_exposure_date   | content_type   |   impressions |   projected_impressions |   video_views |   brand_exposure_value |   logo_impressions |   engagement | asset            |   post_value | feed_name   | campaign   | snapshot_date       |
|----------------------------------------------------------+-----------+-----------+----------------------------------------------------------+-------------------------+----------------+---------------+-------------------------+---------------+------------------------+--------------------+--------------+------------------+--------------+-------------+------------+---------------------|
| fe219f4471a127ad31c11f8673ed74ac76c2e1bf94bd44224ecddec7 | chase     | twitter   | 874faa131446e1a2c56fe70d437c748cd8410e7f327c7926dd546bc0 | 2023-02-12 03:29:00     | video          |               |                 1237875 |               |               0.145529 |             217172 |          758 | basket_stanchion |        22741 | earned      |            | 2023-07-04 19:31:00 |
| db983a2327d2b06d34edd58e88bca9bcf5b87ae035f557c7791fadfe | chase     | twitter   | 0c9abce9c39cc3d8e1b1e4f0126261d5999faba83b8acddba6258283 | 2023-01-02 22:19:00     | video          |               |                 1254961 |               |               8.22205  |             220169 |         1286 |                  |        23753 | earned      |            | 2023-06-18 19:31:00 |
| 210e70492fd8a3722efeaeb34b9a3623f7c8655881383185ebb54ee3 | verizon   | twitter   | 0241ab84e977bb7ef76dfc4acf6e48e6bd344e7588323042dc1cafd7 | 2023-02-06 21:07:00     | video          |         50114 |                         |          9127 |               5.32797  |               9127 |          357 |                  |         1395 | owned       |            | 2023-06-24 20:42:00 |
+----------------------------------------------------------+-----------+-----------+----------------------------------------------------------+-------------------------+----------------+---------------+-------------------------+---------------+------------------------+--------------------+--------------+------------------+--------------+-------------+------------+---------------------+

Random 3 rows from 'broadcast_dataset':
+--------------------+---------------+------------------+------------+------------+--------+---------------+---------------+------------------------------+-------------------------+---------------------+----------------------------------------------------------+----------------------------------------------------------+-----------+----------------+-------------+
| game               | partner       | asset            |   exposure |   duration |   qimv |   impressions |   video_views |   qi_sponsorship_impressions | partner_exposure_date   | snapshot_date       | exposure_id                                              | post_id                                                  | channel   | content_type   | feed_name   |
|--------------------+---------------+------------------+------------+------------+--------+---------------+---------------+------------------------------+-------------------------+---------------------+----------------------------------------------------------+----------------------------------------------------------+-----------+----------------+-------------|
| pittsburgh_pirates | miller_lite   | basket_stanchion |         19 |        141 |   6975 |       3328416 |        823345 |                       142333 | 2023-02-11 00:00:00     | 2023-02-11 02:30:00 | 82189532738d1648bc3bdc3904c529da936e7a15b5fcd306bf476be9 | 98ce616983426fff37988897131363b15d58fc3bc0d1cc7dd406899a | broadcast | video          | earned      |
| nj_devils          | chevrolet     | led_courtside    |         31 |        104 |   6067 |       5265130 |        588789 |                       110006 | 2023-02-08 00:00:00     | 2023-02-08 02:30:00 | 7ffb76feecac9ae4a6fb35ddcb047ca1e5acd95b5e35c0a1662acd16 | b9adf8c30cf465b62c580eb8b534893473619af9b3e985bd6c7dbceb | broadcast | video          | earned      |
| buffalo_bills      | citizens_bank | on_court_signage |        236 |        686 |  66196 |      40500775 |       3924228 |                      1193294 | 2023-02-10 00:00:00     | 2023-02-10 02:30:00 | 509270a82035234931d927e2cafdd6ec08427cf26386802090c89468 | 0787d09e47b915c2504336eb41e67805c5c91bbc03bc9537e0307431 | broadcast | video          | earned      |
+--------------------+---------------+------------------+------------+------------+--------+---------------+---------------+------------------------------+-------------------------+---------------------+----------------------------------------------------------+----------------------------------------------------------+-----------+----------------+-------------+

#### Standardization & Normalization - Social Dataset

**SN1:** Only issue with this method is that since asset is non-exhasutive, there could be two seperate assets by the same company,featured in the same post, but they are both encoded as NULL so we cannot differentiate. Only method is using the differences in their data analytics which is unreliable at best.

**SN2, SN3, SN6, SN7:** In abscense of User-Defined Prodcedures (like in MySQL or PostgreSQL), User-Defined Functions (UDFs) have been used.These operate like procedures but are added to the SQLite containerized database and can be created in a variety of languages.

In [83]:
# SN1: Drop rows with duplicate [exposure_id, post_id, asset, snapshot_date]
cur.execute('''
    DELETE FROM
        social_dataset
    WHERE rowid NOT IN (
        SELECT 
            MAX(rowid)
        FROM 
            social_dataset
        GROUP BY 
            exposure_id, post_id, asset, snapshot_date
    );
''')

conn.commit()

In [84]:
# SN2: Modify exposure_id so that it takes into account different assets
# If the same brand appears in the same video but in a different forms, we need to differentiate

# SN3: Standardize partner naming conventions
# SN6: Stanrdaize asset naming conventions
# SN7: Standardize campaign naming conventions
# SN8: Lowercase all remaining textual fields for consistency

conn.create_function('standardize_assets', 1, standardize_assets)
conn.create_function('standardize_camp', 1, standardize_camp)
conn.create_function('standardize_name', 1, standardize_name)
conn.create_function('hash_id', -1, gen_hash)

cur.execute('''
    UPDATE
        social_dataset
    SET
        asset = standardize_assets(asset),
        campaign = standardize_camp(campaign),
        partner = standardize_name(partner),
        exposure_id = hash_id(
            exposure_id,
            post_id,
            asset
        ),
        channel = LOWER(channel),
        content_type = LOWER(content_type),
        feed_name = LOWER(feed_name)
''')

conn.commit()

In [85]:
# SN4: Some entries for logo_impression do not conform to (projected_impressions / 5.7), so need to fix
# This trend is only seen for a subset of Twitter photos
cur.execute('''
    UPDATE
        social_dataset
    SET
        logo_impressions = CAST(projected_impressions / 5.7 AS Integer)
    WHERE
        logo_impressions = projected_impressions
''')

conn.commit()

In [86]:
# SN5: When video_views exceeds impressions, set impressions to video_views
cur.execute('''
    UPDATE
        social_dataset
    SET
        impressions = video_views
    WHERE
        video_views > impressions
''')

conn.commit()

#### Standardization & Normalization - Broadcast Dataset

In [87]:
# SN1: Drop irrelevant columns
cur.execute('''
    ALTER TABLE broadcast_dataset 
    DROP COLUMN season;
''')

# SN2: Rename specific columns
renaming = [
    'exposure_impressions TO impressions',
    'sponsorship_impressions TO video_views',
    'brand TO partner'
]
for r in renaming:
    cur.execute(f'''
        ALTER TABLE broadcast_dataset 
        RENAME COLUMN {r};
    ''')

# SN3: Add columns
columns = [
    'partner_exposure_date',
    'snapshot_date',
    'exposure_id',
    'post_id',
    'channel',
    'content_type',
    'feed_name'
]
for c in columns:
    cur.execute(f'''
        ALTER TABLE broadcast_dataset ADD COLUMN {c} TEXT;
    ''')

conn.commit()

In [88]:
# SN4: Standardized naming and fill in static columns
conn.create_function('snake_case', 1, snake_case)
conn.create_function('gen_id', 0, gen_id)

cur.execute('''
    UPDATE
        broadcast_dataset
    SET
        asset = standardize_assets(asset),
        partner = standardize_name(partner),
        game = snake_case(game),
        channel = 'broadcast',
        content_type = 'video',
        feed_name = 'earned',
        partner_exposure_date = date,
        snapshot_date = date,
        post_id = hash_id(game),
        exposure_id = gen_id();
''')

cur.execute('''
    ALTER TABLE
        broadcast_dataset 
    DROP COLUMN 
        date;
''')

conn.commit()

In [89]:
# SN5: Drop duplicates
cur.execute('''
    DELETE FROM
        broadcast_dataset
    WHERE rowid NOT IN (
        SELECT 
            MAX(rowid)
        FROM 
            broadcast_dataset
        GROUP BY 
            game, partner, asset
    );
''')

conn.commit()

In [90]:
# SN6: NHL games are ~2.5 hours, so add 2.5 houts to snapshot_date

cur.execute('''
    UPDATE
        broadcast_dataset
    SET 
        snapshot_date = datetime(
            snapshot_date,
            '+2.5 hours'
        )
    WHERE 
        snapshot_date IS NOT NULL;
''')

conn.commit()

#### Data Consolidation

In [91]:
# Merging tables by a union all
cur.execute('DROP TABLE IF EXISTS merged_table;')  

cur.execute('''
CREATE TABLE merged_table AS
    SELECT 
        exposure_id,
        partner,
        channel,
        post_id,
        partner_exposure_date,
        content_type,
        impressions,
        projected_impressions,
        video_views,
        brand_exposure_value,
        logo_impressions,
        engagement,
        asset,
        post_value,
        feed_name,
        campaign,
        snapshot_date,
        NULL AS game,
        NULL AS exposure,
        NULL AS duration,
        NULL AS qimv,
        NULL AS qi_sponsorship_impressions
    FROM 
        social_dataset

UNION ALL

    SELECT 
        exposure_id,
        partner,
        channel,
        post_id,
        partner_exposure_date,
        content_type,
        impressions,
        NULL AS projected_impressions,
        video_views,
        NULL AS brand_exposure_value,
        NULL AS logo_impressions,
        NULL AS engagement,
        asset,
        NULL AS post_value,
        feed_name,
        NULL AS campaign,
        snapshot_date,
        game,
        exposure,
        duration,
        qimv,
        qi_sponsorship_impressions
    FROM 
        broadcast_dataset;
''')

In [99]:
print_sample(cur, 'merged_table', 10)

Random 10 rows from 'merged_table':
+----------------------------------------------------------+---------------+-----------+----------------------------------------------------------+-------------------------+----------------+---------------+-------------------------+---------------+------------------------+--------------------+--------------+------------------+--------------+-------------+------------+---------------------+--------+------------+------------+--------+------------------------------+
| exposure_id                                              | partner       | channel   | post_id                                                  | partner_exposure_date   | content_type   |   impressions |   projected_impressions |   video_views |   brand_exposure_value |   logo_impressions |   engagement | asset            |   post_value | feed_name   | campaign   | snapshot_date       | game   | exposure   | duration   | qimv   | qi_sponsorship_impressions   |
|----------------------------------------------------------+---------------+-----------+----------------------------------------------------------+-------------------------+----------------+---------------+-------------------------+---------------+------------------------+--------------------+--------------+------------------+--------------+-------------+------------+---------------------+--------+------------+------------+--------+------------------------------|
| b31eb90433a54dd00c3b26518b46c82883d449525a2f932370a86138 | coca_cola     | twitter   | dfefc21a7310268262a845ad519f784ea42f98e1274845f784d6b0a9 | 2023-02-11 00:20:00     | video          |               |                 1242152 |               |               1.41134  |             217922 |          818 | basket_stanchion |        22897 | earned      |            | 2023-06-18 19:31:00 |        |            |            |        |                              |
| 10a7751f6421a952217111acc96b3c99c1023f05fd22db7a15a03825 | coca_cola     | twitter   | 4d5b1e1e416ce6204cef9f0298aa529d538b01d8d89e83ac1398898d | 2023-03-28 16:00:00     | text           |         45052 |                         |               |              60.1536   |                    |          230 | text_mention     |          602 | owned       | tune_in    | 2023-06-09 09:57:00 |        |            |            |        |                              |
| ac2a83d01b25e9d149eb470feab240a31f1aefce3347790c20ee082e | motorola      | twitter   | 03d6b16c274be248e169206b76f9175053b5924d9130dbcb82a33fff | 2023-02-06 02:31:00     | video          |        114321 |                         |         27686 |              96.3244   |              27686 |          497 | watermark        |         3440 | owned       |            | 2023-06-09 09:56:00 |        |            |            |        |                              |
| c66750db0a24807a7674169b433f079b2c6d8ce976ab10f56cf12628 | coca_cola     | twitter   | ecdade20659f46cfa656e0e37564e5e417b714a1cab6dd0efd35fecd | 2023-03-15 02:55:00     | video          |         64986 |                         |         21592 |              11.0388   |              21592 |          963 |                  |         3460 | owned       |            | 2023-07-02 20:41:00 |        |            |            |        |                              |
| 878e888c8c1ec72eaa90bd2f4ed999676a88145363a5abe19fa6893a | toyota        | twitter   | 38abcf34bf41f964cc27e106665662697f7f79d9e8ed46dbe97b79db | 2023-02-06 02:24:00     | video          |               |                 1246757 |               |               1.75801  |             218730 |          940 |                  |        23142 | earned      |            | 2023-06-18 19:31:00 |        |            |            |        |                              |
| d83d3315814b82c68265b89e754e57ab3a9f168d2975933fd73a5045 | motorola      | twitter   | eba51aeeeac3122e70dd3d17d81b1bfc9255223a7f750b668d0f24b7 | 2023-01-12 04:00:00     | video          |         50064 |                         |         11801 |              66.6052   |              11801 |          602 | watermark        |         1993 | owned       |            | 2023-06-16 20:44:00 |        |            |            |        |                              |
| 76160df39b944263b6b5a2625c998d8e25b6e89f99459293e90384b5 | chase         | twitter   | c9738c92546cd9cdbc177b29121e5bbd36c80524a7ea75aae461505a | 2023-02-14 16:00:00     | video          |         61478 |                         |         10535 |               0.759316 |              10535 |          499 |                  |         1728 | owned       |            | 2023-07-02 20:41:00 |        |            |            |        |                              |
| de331e34e2ac6439f460f40f1a731796931423b0a7ebe4e1ea6d7741 | citizens_bank | twitter   | 3249a78fd77bbcff7c453aabac032eb6a6d4415dcaf777f66aa80141 | 2023-01-05 09:00:00     | video          |               |                 1239648 |               |               6.20437  |             217483 |         1037 | on_court_signage |        23149 | earned      |            | 2023-07-04 19:31:00 |        |            |            |        |                              |
| 5a2459a41302541c4be6b66ec7d994ff10f0fe6bc2f902a46398e5ad | toyota        | twitter   | 478606fba372d93fc65088171cac0720584dc83071ee6b429746f3ae | 2023-01-03 21:20:00     | video          |         52499 |                         |          9813 |               1.83242  |               9813 |          288 | pole_pad         |         1371 | owned       |            | 2023-06-09 09:50:00 |        |            |            |        |                              |
| cbd72e65b77c9344753b96e4eb5837002852e94b9e296c6abc10a91b | coca_cola     | twitter   | 38abcf34bf41f964cc27e106665662697f7f79d9e8ed46dbe97b79db | 2023-02-06 02:24:00     | video          |               |                 1246757 |               |               2.71786  |             218730 |          940 | basket_stanchion |        23142 | earned      |            | 2023-06-10 19:32:00 |        |            |            |        |                              |
+----------------------------------------------------------+---------------+-----------+----------------------------------------------------------+-------------------------+----------------+---------------+-------------------------+---------------+------------------------+--------------------+--------------+------------------+--------------+-------------+------------+---------------------+--------+------------+------------+--------+------------------------------+

#### Data Model Definition

In [100]:
# Entity: Content_Channel
cur.execute('DROP VIEW IF EXISTS content_channel_view;')
cur.execute('''
    CREATE VIEW content_channel_view AS
        SELECT
            hash_id(t.content_type, t.channel) AS content_channel_id,
            t.content_type,
            t.channel
        FROM (
            SELECT DISTINCT
                content_type,
                channel
            FROM
                merged_table
        ) AS t
''')
print_sample(cur, 'content_channel_view', 3)

Random 3 rows from 'content_channel_view':
+----------------------------------------------------------+----------------+-----------+
| content_channel_id                                       | content_type   | channel   |
|----------------------------------------------------------+----------------+-----------|
| 5e2f614bf69248d26c5f0f9d10f307d880dde60ed5000944c6353a05 | text           | twitter   |
| 3ace2bd75220e7c3688532b954617ca41b01da4ce2356740857d995c | video          | youtube   |
| 7f8662fe280159fc11fedb525130a8d67b3ec15eae984a074edf0cfd | photo          | facebook  |
+----------------------------------------------------------+----------------+-----------+

In [101]:
# Entity: Posts
cur.execute('DROP VIEW IF EXISTS posts_view;')
cur.execute('''
    CREATE VIEW posts_view AS
        SELECT DISTINCT
            post_id,
            hash_id(content_type, channel) AS content_channel_id,
            partner_exposure_date,
            game,
            campaign,
            feed_name
        FROM
            merged_table
''')
print_sample(cur, 'posts_view', 3)

Random 3 rows from 'posts_view':
+----------------------------------------------------------+----------------------------------------------------------+-------------------------+--------+------------+-------------+
| post_id                                                  | content_channel_id                                       | partner_exposure_date   | game   | campaign   | feed_name   |
|----------------------------------------------------------+----------------------------------------------------------+-------------------------+--------+------------+-------------|
| 1d090d110e391fd980e87b91a5a7ef71e8e414e1bb00827b2326a7da | 0da1aa614f006e1b5b3c8515205d181e8518a26664a37461258a4270 | 2023-01-26 22:00:00     |        |            | owned       |
| 68f8439bd1895613980fcddcd3fcc4eb6540087954dc9fa754141115 | 0da1aa614f006e1b5b3c8515205d181e8518a26664a37461258a4270 | 2023-02-26 14:08:00     |        |            | earned      |
| cfe749b77a3e15f1a87c0c977aa3de7dac27ca2653d0bc7847069344 | 0da1aa614f006e1b5b3c8515205d181e8518a26664a37461258a4270 | 2023-03-02 14:48:00     |        |            | owned       |
+----------------------------------------------------------+----------------------------------------------------------+-------------------------+--------+------------+-------------+

In [102]:
# Entity: Exposures
cur.execute('DROP VIEW IF EXISTS exposures_view;')
cur.execute('''
    CREATE VIEW exposures_view AS
        SELECT DISTINCT
            exposure_id,
            post_id,
            partner,
            asset
        FROM
            merged_table
''')
print_sample(cur, 'exposures_view', 3)

Random 3 rows from 'exposures_view':
+----------------------------------------------------------+----------------------------------------------------------+----------------+------------------+
| exposure_id                                              | post_id                                                  | partner        | asset            |
|----------------------------------------------------------+----------------------------------------------------------+----------------+------------------|
| 0379d45784da2a0d742b3cda0a72705e81ee888eb7495e71f596fb4b | 80f506f753240350e8f3161369cee0813f51c1a5ad20c010086d695d | delta_airlines | led_courtside    |
| dffe687d0e199f4c6a5a55cda9b6c061b7ee08ff07037f0339cb1065 | dd457c96caa39354e6ce16e01cc8d6428ad60ca5bf60676fc510882d | coca_cola      | basket_stanchion |
| 6da8e0f102d576e0b5d36df7fb341c532aaa32ad46804e6890b88e51 | 11e615e7052313ea3e44b0119bdf2464675cf160a80d56b6439ee954 | coca_cola      | led_courtside    |
+----------------------------------------------------------+----------------------------------------------------------+----------------+------------------+

In [103]:
# Entity: Data_Snapshots
cur.execute('DROP VIEW IF EXISTS data_snapshots_view;')
cur.execute('''
    CREATE VIEW data_snapshots_view AS
        SELECT DISTINCT
            hash_id(exposure_id, snapshot_date) AS snapshot_id,
            exposure_id,
            snapshot_date,
            impressions,
            projected_impressions,
            logo_impressions,
            video_views,
            engagement,
            brand_exposure_value,
            post_value,
            exposure,
            duration,
            qimv,
            qi_sponsorship_impressions
        FROM
            merged_table
''')
print_sample(cur, 'data_snapshots_view', 3)

Random 3 rows from 'data_snapshots_view':
+----------------------------------------------------------+----------------------------------------------------------+---------------------+---------------+-------------------------+--------------------+---------------+--------------+------------------------+--------------+------------+------------+--------+------------------------------+
| snapshot_id                                              | exposure_id                                              | snapshot_date       |   impressions | projected_impressions   |   logo_impressions |   video_views |   engagement |   brand_exposure_value |   post_value | exposure   | duration   | qimv   | qi_sponsorship_impressions   |
|----------------------------------------------------------+----------------------------------------------------------+---------------------+---------------+-------------------------+--------------------+---------------+--------------+------------------------+--------------+------------+------------+--------+------------------------------|
| 5a3178c2c766a1a13176bdbf9f679b4afee7c295dba9c64564c38f96 | b98761c312b375e390761cd4fcf73a2b408a29249c02407526c5d908 | 2023-06-16 20:43:00 |         47483 |                         |               8331 |               |          399 |               25.0896  |          845 |            |            |        |                              |
| 17361adf334882b5d93fbd89a54791a30449e343176f0751b9fafdfb | 144bdb1d38c2b2b814bbbd6128c4aa5139e07b1bfddf71f47e8eef98 | 2023-06-09 09:56:00 |        103604 |                         |              27340 |         27340 |         1287 |                6.40459 |         4472 |            |            |        |                              |
| 8c7c95d1d3bb88e653b8d30b636ca44263670ed2b519a4884bf88435 | a69d93f568f06380dd10319f60aa6ef8b0babbe3bf9d7c8dd3a1d72e | 2023-06-09 09:51:00 |         54997 |                         |              15425 |         15425 |          868 |               19.3828  |         2715 |            |            |        |                              |
+----------------------------------------------------------+----------------------------------------------------------+---------------------+---------------+-------------------------+--------------------+---------------+--------------+------------------------+--------------+------------+------------+--------+------------------------------+